/*#region General styles */

:root {
  --color-text: #757575;
  --color-h2-h3: #212121;
  --color-focus: #2196f3;
}

body {
  font-family: Roboto, sans-serif;
  color: var(--color-text);
  font-size: 14px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
}

ul {
  padding-inline-start: 0;
}

img {
  display: block;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
/*#endregion */

/*#region  Header & Footer */

.header > .container,
.header > .container > .nav-container,
.header > .container > .nav-container > .nav,
.header > .container > .nav-auth {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header > .container > .nav-auth {
  display: flex;
  align-items: center;
}

.nav-container > .nav > li:not(:last-child),
.nav-auth > li:not(:last-child) {
  margin-right: 50px;
}

.nav-container > .nav > li > a,
.nav-auth > li > a {
  display: inline-block;
  padding-top: 32px;
  padding-bottom: 32px;
}

.header {
  background-color: #ffffff;
  border-bottom: 1px solid #ececec;
}

.logo {
  color: var(--color-focus);
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-decoration: none;
  margin-right: 93px;
  padding-top: 24px;
  padding-bottom: 24px;
}

.header-logo {
  color: #000000;
}

.nav,
.nav-auth,
.ul-adress,
.feature-list,
.promo-list,
.team-list,
.filter,
.portfolio-list {
  list-style-type: none;
}

.nav-list {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--color-h2-h3);
  text-decoration: none;
}

.nav-list:hover,
.nav-list:focus,
.mail.nav-list:hover,
.mail.nav-list:focus,
.adress:hover,
.adress:focus,
.transparency.adress:hover,
.transparency.adress:focus {
  color: var(--color-focus);
}

.nav-list.current {
  color: var(--color-focus);
}

.nav-container {
  margin-right: auto;
}

.mail.nav-list {
  color: var(--color-text);
}

.mail-icon {
  fill: currentColor;
  margin-right: 10px;
}

.mail.nav-list.tel {
  display: flex;
}
/*#endregion */

/*#region  Hero */

.section-hero {
  background-color: #2f303a;
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
}

.hero {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 30px;
}

.button-hero {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  color: #ffffff;
  letter-spacing: 0.06em;
  background-color: var(--color-focus);
  cursor: pointer;
  padding: 10px 32px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: none;
  border-radius: 4px;
  min-width: 200px;
}

.button-hero:hover,
.button-hero:focus {
  background-color: #188ce8;
}
/*#endregion */

/*#region  Feature */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.feature-list {
  display: flex;
  justify-content: space-between;
}

.feature-list > li:not(:last-child) {
  margin-right: 30px;
}

.feature-title {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--color-h2-h3);
  margin-bottom: 10px;
}

.feature-text {
  line-height: 1.71;
  letter-spacing: 0.03em;
  max-width: 270px;
}
/*#endregion */

/*#region  Promo */

.promo {
  padding-bottom: 94px;
}

.title {
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--color-h2-h3);
  margin-bottom: 50px;
}

.promo-list {
  display: flex;
}

.promo-list > li:not(:last-child) {
  margin-right: 30px;
}
/*#endregion */

/*#region  Team */

.team {
  background-color: #f5f4fa;
}

.team .title {
  margin-bottom: 50px;
}

.team-list {
  display: flex;
}

.team-item {
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-item:not(:last-child) {
  margin-right: 30px;
}

.team-decor,
.portfolio-decor {
  text-decoration: none;
}

.team-desc {
  padding-top: 30px;
  padding-bottom: 30px;
}

.team-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--color-h2-h3);
  margin-bottom: 10px;
}

.team-position {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--color-text);
}
/*#endregion */

/*#region  Portfolio */

.filter {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.filter .button {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--color-h2-h3);
  background-color: #f5f4fa;
  cursor: pointer;
  padding: 6px 22px;
  border-radius: 4px;
  border: none;
}

.filter .button:hover,
.filter .button:focus {
  color: #ffffff;
  background-color: var(--color-focus);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.filter li:not(:last-child) {
  margin-right: 8px;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
}

.portfolio-item {
  background-color: #ffffff;
}

.portfolio-item:not(:nth-child(3n)) {
  margin-right: 30px;
}

.portfolio-item:not(:nth-last-child(-n + 3)) {
  margin-bottom: 30px;
}

.portfolio-description {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
  border-top: none;
}

.portfolio-company {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--color-h2-h3);
  margin-bottom: 4px;
}

.portfolio-desc {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--color-text);
}
/*#endregion */

/*#region  Only Footer */

.footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-logo {
  color: #ffffff;
}

.footer > .container > .logo {
  display: inline-block;
  margin-bottom: 20px;
}

.adress {
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: #ffffff;
  text-decoration: none;
  font-style: normal;
}

.transparency.adress {
  color: rgba(255, 255, 255, 0.6);
}

.ul-adress li:not(:last-child) {
  margin-bottom: 9px;
}
/*#endregion */
